:root {
  /* --sdt-bg-main: #3b82f6; clock bg */
  --sdt-shadow-color: #00000069; /* wrap shadow color */
  /* --sdt-color: #3b82f6; select circle numbers color */
  /* --sdt-primary: #3b82f6; selection element (circle with line) */
  /* --sdt-btn-header-bg-hover: #3f67a9; header number hover bg */
  --sdt-color-selected: white; /* selected time color (in circle) */
  --sdt-clock-bg: #ffffff; /* clock bg (around numbers) */
  --sdt-header-color: white; /* header numbers color */
}
